/*=====================
        GENERALS
=====================*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@mixin text-style($ta, $fz, $fc) {
    text-align: $ta;
    font-size: $fz;
    color: $fc;
}

@mixin sec-style($bc, $ta, $fc, ) {
    background-color: $bc;
    text-align: $ta;
    color: $fc;
}

@mixin zitat-style($fs, $tc, $fw ) {
    font-size: $fs;
    color: $tc;
    font-weight: $fw;
}

@font-face {
    font-family: 'Lora';
    src: url('/assets/fonts/Lora-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'Work-Sans';
    src: url('/assets/fonts/WorkSans-VariableFont_wght.ttf');
}

html {
    font-size: 10px;
}

h2 {
    font-family: 'Lora';
    @include text-style(left, 11rem, black);
    font-weight: 400;
}

p {
    @include text-style(left, 2rem, rgb(0, 0, 0));
    font-family: 'Work-Sans';
}

.button {
    @include text-style(center, 2rem, white);
    padding: 15px 35px;
    border: 1px solid white;
    text-decoration: none;
    font-family: 'Work-Sans';
    display: inline-block;
    transition: 0.4s ease;
}

.button:hover {
    @include text-style(center, 2rem, black);
    background-color: white;
}

/*=====================
        Header
=====================*/

header {
    height: 100vh;
    background-color: black;

    hr {
        height: 20vh;
        width: .1vw;
        border-width: 0;
        background-color: gray;
        margin: 0 auto;
        margin-bottom: 15vh;
    }

    h1 {
        @include text-style(center, 9rem, white);
        line-height: 7rem;
        font-family: 'Lora';
    }

    h1:nth-of-type(2) {
        @include text-style(center, 9rem, black);
        -webkit-text-stroke: 1px white;
    }

    article {
        margin-bottom: 4vh;

        p {
            @include text-style(center, 2rem, white);
            font-family: 'Work-Sans';
            margin: 4vh 0;
        }

        p:nth-of-type(2) {
            margin-bottom: 10vh;
        }
    }

    div {
        display: flex;
        justify-content: space-between;
        padding: 0 8vw;
    }
}

/*=====================
        MAIN
=====================*/

main p {
    line-height: 4rem
}

.sec_one_history {
    @include sec-style(black, left, white);
    padding: 0 15vw 0 8vw;
    background-image: url('../img/map.svg');
    background-repeat: no-repeat;
    background-position: bottom 30vh right 50px;
    background-size: 40%;
    padding: 15vh 8vw;

    h2 {
        @include text-style(left, 11rem, white);
        font-weight: 400;
        overflow: hidden;
    }

    p {
        color: white;
    }

    div {
        margin-top: 10vh;
    }
}

.sec_two_stuckmiddle {
    padding: 20% 0 15% 0;

    article {
        margin-left: auto;
        margin-right: auto;
        width: 40%;

        h2 {
            @include text-style(left, 10rem, black);
            font-weight: 500;
            line-height: 8.2rem;
        }

        p {
            margin-top: 30px;
        }
    }

    article:nth-of-type(1) {
        margin-bottom: 40%;
    }

    img {
        width: 19%;
        // position: absolute;
    }

    img:nth-of-type(1) {
        transform: translate(350%, -200%);
    }

    img:nth-of-type(2) {

        transform: translate(-80%, -20%);
    }

    img:nth-of-type(3) {
        width: 15%;
        transform: translate(565%, -600%);
    }

    img:nth-of-type(4) {
        transform: translate(0%, -180%);
    }

    img:nth-of-type(5) {
        transform: translate(100%, -100%);
    }

    img:nth-of-type(6) {
        transform: translate(-280%, 80%);
    }

    img:nth-of-type(7) {
        transform: translate(-80%, 280%);
        position: static;
    }
}

.zitat {
    color: white;
    width: 65%;
    font-family: 'Lora';
    font-size: 3.6rem;
    margin-bottom: 30px
}

.sec_three_goldenbear {
    @include sec-style(black, left, white);
    padding: 30vh 0vw 1vh 8vw;

    article {
        display: flex;
        color: white;
        align-items: center;
        margin-bottom: 5vh;
        align-items: flex-start;

        h2 {
            @include text-style(left, 10rem, white);
            font-weight: 500;
            width: 40%;
            line-height: 8.2rem;
            margin-right: 20vw;
        }

        h4 {
            @include zitat-style(1.5rem, white, 500);
            font-family: 'Work-Sans';
        }

        p:nth-of-type(1) {
            color: white;
            margin-bottom: 25px;
        }
    }

    img:nth-of-type(1) {
        width: 30%;
        position: relative;
        transform: translate(200%, 5%);
        z-index: 2;
    }

    img:nth-of-type(2) {
        width: 60%;
        position: relative;
        transform: translate(-40%, 11%);
        z-index: 1;
    }
}

.sec_four_poppybear {
    position: relative;
    padding: 40vh 0vw 10vh 8vw;
    overflow: hidden;

    img:nth-of-type(1) {
        width: 30%;
        position: absolute;
        right: -150px;
        top: -150px;
        z-index: 3;
        animation-name: spin;
        animation-duration: 8s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }

    @keyframes spin {
        from {
            transform: rotate(0deg);
        }

        to {
            transform: rotate(360deg);
        }
    }

    article {
        display: flex;
        color: white;
        margin-bottom: 10vh;
        margin-top: 5vh;
        align-items: flex-start;

        h2 {
            @include text-style(left, 10rem, black);
            font-weight: 500;
            width: 40%;
            line-height: 8.2rem;
            margin-right: 20vw;
        }

        h4 {
            @include zitat-style(1.5rem, black, 500);
            font-family: 'Work-Sans';
        }

        p:nth-of-type(1) {
            color: black;
            margin-bottom: 25px;
        }
    }

    img:nth-of-type(2) {
        width: 30%;
        position: relative;
        transform: translate(10%, -25%);
        z-index: 2;
    }

    img:nth-of-type(3) {
        width: 60%;
        position: relative;
        transform: translate(-5%, 0%);
        z-index: 1;
    }
}

.last_sec_joinus {
    @include sec-style(black, left, white);
    padding: 30vh 0vw 1vh 8vw;
    position: relative;
    overflow: hidden;

    .animation_june {
        background-color: white;
        width: 200%;
        position: absolute;
        rotate: 45deg;
        left: -100px;
        top: 400px;
        animation-name: move;
        animation-duration: 7s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;

        h2 {
            @include text-style(left, 10rem, black);
            font-weight: 600;

            span {
                @include text-style(left, 10rem, white);
                -webkit-text-stroke: 2px black;
            }
        }
    }

    @keyframes move {
        0% {
            transform: translate(0px, 0px);
        }

        50% {
            transform: translate(700px, 0px);
        }

        100% {
            transform: translate(0px, 0px);
        }
    }

    article {
        width: 55vw;

        p:nth-of-type(1) {
            color: white;
            margin-bottom: 25px;
        }
    }

    .socialmeadia_redcross {
        width: 100%;
        padding-right: 8vw;
        display: flex;
        justify-content: space-between;

        .logos {
            display: flex;
            flex-direction: column;

            .container_icons {
                margin-top: 20px;
                margin-bottom: 20px;
            }

            .logo {
                width: 30px;
                margin-right: 10px;
            }

            p:nth-of-type(2) {
                color: white;
                margin-bottom: 25px;
            }
        }

        .container_logo_redcross {
            text-align: center;

            img {
                margin-top: auto;
                margin-bottom: auto;
                width: 30%;
            }
        }
    }
}

@media only screen and (max-width:600px) {

    html {
        font-size: 6px;
    }

    header {
        height: 70vh;

        hr {
            margin-bottom: 10vh;
        }
    }

    .sec_one_history h2 {
        font-size: 5rem;
    }

    .sec_two_stuckmiddle article {
        width: 60%;
    }

    .sec_three_goldenbear article {
        flex-direction: column;
        padding-left: 8vw;
    }

    .sec_three_goldenbear div {
        width: 80vw;

        .zitat {
            margin-top: 40px;
            width: 82%;
        }
    }

    .sec_four_poppybear {
        padding-top: 20vh;

        img:nth-of-type(1) {
            width: 70%;
            right: -150px;
            top: -150px;
        }

        article {
            flex-direction: column;
            padding-left: 8vw;
        }
    }

    .sec_four_poppybear div {
        width: 80vw;

        .zitat {
            margin-top: 40px;
            width: 82%;
        }
    }

    .last_sec_joinus {

        .animation_june {
            width: 350%;
            position: none;
            left: -600px;
            top: 100px;
        }
    }
}